ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
}

aside {
    display: flex;
    flex-direction: column;
}

th {
    text-align: start;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: .25rem;
}